<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterTestApp.contact.home.title">Contacts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contact-my-employee" [routerLink]="['/contact-my-employee/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterTestApp.contact.home.createLabel">
            Create a new Contact
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="contacts?.length === 0">
        <span jhiTranslate="jhipsterTestApp.contact.home.notFound">No contacts found</span>
    </div>
    <div class="table-responsive" *ngIf="contacts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value"><span jhiTranslate="jhipsterTestApp.contact.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contactCompany"><span jhiTranslate="jhipsterTestApp.contact.contactCompany">Contact Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contactTypeId"><span jhiTranslate="jhipsterTestApp.contact.contactType">Contact Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employeeId"><span jhiTranslate="jhipsterTestApp.contact.employee">Employee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contact of contacts ;trackBy: trackId">
                <td><a [routerLink]="['/contact-my-employee', contact.id, 'view' ]">{{contact.id}}</a></td>
                <td>{{contact.value}}</td>
                <td>{{contact.contactCompany}}</td>
                <td>
                    <div *ngIf="contact.contactTypeId">
                        <a [routerLink]="['/contact-type-my-employee', contact.contactTypeId , 'view' ]" >{{contact.contactTypeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="contact.employeeId">
                        <a [routerLink]="['/employee-my-employee', contact.employeeId , 'view' ]" >{{contact.employeeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/contact-my-employee', contact.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/contact-my-employee', contact.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/contact-my-employee', { outlets: { popup: contact.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="contacts?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
